<% @user ||= current_user %>
<div class="stats">
  <!-- Подписано на польз. -->
  <a href="<%= following_user_path(@user) %>">
    <!-- подсчет читаемых -->
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <!-- Польз. подписан на -->
  <a href="<%= followers_user_path(@user) %>">
    <!-- id - обязателен!!! для Ajax-запросов -->
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>